{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "transform-class-properties",
    "lodash",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }]
  ]
}
